.App {
  text-align: center;
}

.demo-wrapper {
  margin: 10px 0; /* Ajusta el margen para reducir el espacio */
}

.demo-editor {
  border: 1px solid #f1f1f1;
  padding: 10px;
  min-height: 150px; /* Ajusta la altura mínima del editor */
}

button {
  margin: 10px;
}

body {
  font-family: 'Fira Sans', sans-serif !important;
}
